html,
body {  
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.body{
   color: gray;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}

.header-container {
    width: 100%;
    color: gray;
    text-align: left;
    padding: 150px 100px 30px;
    margin-left: auto;
    margin-right: auto;    
}

.name {
    color: gray;
    font-family: 'Spectral SC', serif;
    font-size: 350%;
}

.description{
    padding-top: 10px;
    color: gray;
    width: 90%;
}

.fab{
    font-size: 25px;
    padding: 20px 7px;
    color: gray;
}
.dots{
    text-align: center;
    font-size: 40px;
    padding-bottom: 180px;
    padding-top: 180px;

}

.about{
    margin-left: auto;
    margin-right: auto;
    
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 350px;
    border-radius: 10%;
    padding: 30px;
}

.paragraph{
    width: 50%;
}





.fa-bars {
    width: 200px;
}

.menu-btn {
    width: 35px;
    margin-left: auto;
    margin-right: 20px;
}

.menu-icon {
    color: gray;
    padding: 20px 0px;
}

.menu-icon:hover {
    color: white;
}

ol.q {
    list-style-type: upper-roman;
}

.title {
    color: red;
}



li a {
    color: rgb(7, 100, 123);
}

.haitec {
    width: 45%;
    margin: 30px;
}

.haitec-text {
    max-width: 45%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.img,
.section {
    margin-left: auto;
    margin-right: auto;
}


.download-button {
    background-color: white;
}

.jeelio {
   width: 45%;
}
.nav-item a{
    margin-top: 40px;
    
}
embed{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}