.header {
    background-color: lightpink;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header-container {
    text-align: center;
    padding: 30px;
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 10px;
}

.name {
    color: white;
    font-family: Helvetica, sans-serif;
}

.prof {
    color: gray;
    font-family: Helvetica, sans-serif;
}

.fa-bars {
    width: 150px;
}

.menu-btn {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    margin-left: auto;
    margin-right: 20px;
    color: gray;
}

.menu-btn {
    padding-bottom: 30px;
}

ol.q {
    list-style-type: upper-roman;
}

.title {
    color: red;
}

#about,
#conact {
    text-align: center;
}

#menu {
    display: none;
}

.section {
    padding: 10px 30px;
}

body {
    background-color: rgb(240, 244, 245);
}

li a {
    color: rgb(7, 100, 123);
}

.haitec {
    width: 350px;
    margin: 30px;
}

.haitec-text {
    max-width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.img,
.section {
    margin-left: auto;
    margin-right: auto;
}

.fab {
    padding: 7px;
    color: gray;
}

#about {
    margin-left: 15%;
    margin-right: 15%;
}

#education,
#skills,
#contact {
    background-color: white;
}

.download-button {
    background-color: white;
}

.jeelio {
    width: 400px;
}